body {
    background-color: white;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    background-color: white;
    width:80%;
    text-align: center;
    /*margin-bottom: 160px;*/
    padding-bottom: 160px;
}

.header {
    background-image: url('https://lilian.blob.core.windows.net/microbitquiz/pink.png');
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}

.windsor-footer {  
    width: 100%;
    height: 150px;    
    position: fixed;
    bottom: 0;
    pointer-events: none;
    background:  url('https://lilian.blob.core.windows.net/microbitquiz/windsor3.png') repeat-x;
    background-size: contain;
}

.center {
     margin: auto;
     width: 60%;
     border: 3px solid #73AD21;
     padding: 10px;
 }

h2 {
     margin: auto;
     width: 60%;
     border: 3px solid deeppink;
     border-radius: 50px;
     padding: 10px;
     background-color:deeppink; 
     color:white;
 }


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size:20px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}



/* Quiz styles */
.flip-container .back,
.flip-container .front {
    border: 5px solid #00bcf2;
    padding-bottom: 30px;
    padding-top: 30px;
    
}

#content {
    position: relative;
    background: #fff;
    padding: 50px 0 50px 0;
    border-radius: 50px;
    width: 80%;
}

.option {
    width: 80%;
    margin: 5px;
}

div.correct p {
    color: green;
}

div.incorrect p {
    color: red;
}

.btn {
    border-radius: 0;
}

.flip-container div.front, .flip-container div.back.flip {
    display: block;
}

.flip-container div.front.flip, .flip-container div.back {
    display: none;
}