@{
    ViewData["Title"] = "Home Page";
}
<br />

<a class="btn btn-block btn-info" asp-controller="Home" asp-action="Quiz">Microbit Snowflake Badge</a><br /><br />
<a class="btn btn-block btn-success" asp-controller="Home" asp-action="Quiz">Microbit Love Meter Badge</a><br /><br />
<a class="btn btn-block btn-warning" asp-controller="Home" asp-action="Quiz">Microbit Sorting Hat Badge</a><br /><br />
