@{
    ViewData["Title"] = "Home Page";
}
<br />
<p>
    Click on badge to start quiz<br /><br />
    <a class="btn btn-default btn-default" asp-controller="Home" asp-action="Quiz">Snowflake Badge</a>
</p>
