<div id="startingDiv" style="color:white;">
    <h2>@ViewData["Title"]</h2>
    <div id="token" style="color:white;"></div>

    <iframe width="100%" height="500" src="https://www.youtube.com/embed/XhVKRgXFeOY" frameborder="0" allowfullscreen></iframe>
    
    <br /><br />

    <table style="width:100%;">
        <tr>
            <td width="50%">
                <a class="btn btn-block btn-default" href="https://www.microbit.co.uk/app/#follow:ttzhgd">Start Tutorial</a>
            </td>
            <td width="50%">
                <button class="btn btn-block btn-default" onclick="startQuiz()">Start Quiz</button>
            </td>
        </tr>
    </table>

</div>

<br />

<div id="bodyContainer" ng-app="QuizApp" style="display: none;" >
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="text-center col-md-12" ng-controller="QuizCtrl" ng-init="checkQuestions()">

                    <div class="back" ng-class="{correct: correctAnswer, incorrect:!correctAnswer}">
                        <p class="lead" ng-hide="answerHidden">
                            {{answer()}} {{tryAgain}}
                            <br />
                            {{rightAnswer}}
                        </p>
                    </div>

                    <p class="lead">Score: {{score}}</p>
                    <p class="lead">{{title}}</p>

                    <div class="row text-center">
                        <button class="btn btn-info btn-lg option" ng-repeat="option in options" ng-click="checkAnswer(option)" ng-disabled="disabled">{{option.Title}}</button>
                    </div>

                </div>
        </div>
    </section>
</div>

<script>
    function startQuiz() {
        document.getElementById('bodyContainer').style.display = "block";
        document.getElementById('startingDiv').style.display = "none";
    }

    var quizName = "@ViewData["QuizName"]";
    var apiKey = "@ViewData["APIKey"]";
    var token = location.search.split('token=')[1];
    document.getElementById("token").innerHTML = token;
</script>